audioop-lts
tiktoken
numba
flair
transformers
spacy
streamlit-webrtc
aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-types
antlr4-python3-runtime
anyio
asteroid-filterbanks
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorlog
contourpy
cycler
distro
docopt
dotenv
einops
ffmpeg-python
filelock
fonttools
frozenlist
fsspec
future
gitdb
GitPython
googleapis-common-protos
greenlet
grpcio
h11
hdbscan
hf-xet
httpcore
httpx
huggingface
huggingface-hub
HyperPyYAML
idna
importlib_metadata
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
julius
kiwisolver
lightning
lightning-utilities
lxml
Mako
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
narwhals
networkx
numpy
omegaconf
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
optuna
packaging
pandas
pillow
primePy
propcache
protobuf
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyannoteai-sdk
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
Pygments
pyparsing
python-dateutil
python-docx
python-dotenv
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
referencing
requests
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
semver
sentencepiece
setuptools
shellingham
six
smmap
sniffio
sortedcontainers
soundfile
speechbrain
SQLAlchemy
streamlit
streamlit-webrtc
sympy
tabulate
tenacity
tensorboardX
threadpoolctl
toml
torch
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
tornado
tqdm
typer
typer-slim
typing-inspection
typing_extensions
tzdata
urllib3
uv
watchdog
wheel
yarl
zipp

# FastAPI dependencies
fastapi
uvicorn[standard]
python-multipart
